<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myprofile</title>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <table border="1" align="center">
            <tr>
                <td colspan="2" align="center"> <img src="{{renterdata.renter_photo.url}}" width="170" alt=""> </td>
            </tr>

            <tr>
                <td>Name</td>
                <td>{{renterdata.renter_name}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{renterdata.renter_email}}</td>
            </tr>
            <tr>
                <td>Contact</td>
                <td>{{renterdata.renter_contact}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{renterdata.renter_address}}</td>
            </tr>
            <tr>
                <td>District</td>
                <td>{{renterdata.place.district.district_name }}</td>
            </tr>
            <tr>
                <td>Place</td>
                <td>{{renterdata.place.place_name}}</td>
            </tr>
            <tr>
                <td><a href="{%url 'Renter:Editprofile' %}" class="profile-action-btn">Edit Profile</a></td>
                <td><a href="{%url 'Renter:Changepas' %}" class="profile-action-btn">Change Password</a></td>
            </tr>
        </table>
                </table>
                <table border="1" align="center">
            <tr><td><a href="{% url 'Renter:Home'%}" class="profile-action-btn">Home</a></td></tr>

            </table>
    </form>
</body>

</html>