<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Largest of Two Numbers</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
        <table border="1" align="center">
        <tr>
            <td>Number 1:</td>
            <td><input type="text" name="txt_num1" id=""></td>
        </tr>
        <tr>
            <td>Number 2:</td>
            <td><input type="text" name="txt_num2" id=""></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Find Largest"></td>
        </tr>
        <tr>
            <td>Result</td>
            <td>{{res}}</td>
        </tr>
        </table>
</form>
</body>
</html>
