<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Property</title>
    </head>
    <table border="1" align="">
    <td><a href="{% url 'Seller:Home'%}" class="profile-action-btn">Home</a></td>
    </table>

<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 align="center">Add Property</h2>
        <table border="1" align="center">
            <tr>
                <td>Name</td>
                <td><input type="text" name="txt_name" id=""></td>
            </tr>


            <tr>
                <td>Description</td>
                <td><textarea name="txt_description" id=""></textarea></td>
            </tr>

            <tr>
                <td>Property Type</td>
                <td><select name="sel_propertytype" id="sel_propertytype">
                        <option value="">..Select Property Type...</option>
                        {% for i in propertytypedata %}
                        <option value="{{i.id}}">{{i.propertytype_name}}
                            {% endfor %}
                        </option>
                    </select>
            </tr>
            <tbody id="result"></tbody>
            <tr>
                <td>Photo</td>
                <td>
                    <input type="file" name="txt_photo" required>
                </td>
            </tr>


            <tr>
                <td>District</td>
                <td><select name="sel_district" id="sel_district">
                        <option value="">..Select District...</option>
                        {% for i in districtData %}
                        <option value="{{i.id}}">{{i.district_name}}
                            {% endfor %}
                        </option>
                    </select>
                </td>
            </tr>


            <tr>
                <td>Place</td>
                <td><select name="sel_place" id="sel_place">
                        <option value="">..Select Place...</option>
                    </select>
                </td>
            </tr>


            <tr>
                <td>Category</td>
                <td><select name="sel_category" id="sel_category">
                        <option value="">...Select Category...</option>
                        {% for i in categorydata %}
                        <option value="{{i.id}}">{{i.category_name}}
                            {% endfor %}
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Price</td>
                <td><input type="text" name="txt_price" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Submit">
                    <input type="reset" value="Cancel">
                </td>
            </tr>
        </table>
        <table border="2" align="center">
            <tr>
                <td>SLNO</td>
                <td>NAME</td>
                <td>DESCRIPTION</td>
                <td>PROPERTY TYPE</td>
                <td>PHOTO</td>
                <td>DISTRICT</td>
                <td>PLACE</td>
                <td>CATEGORY</td>
                <td>PRICE</td>
                <td>ACTION</td>             
            </tr>
            {%for i in Addproperty %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.property_name}}</td>
                <td>{{i.property_description}}</td>
                <td>{{i.propertytype_id.propertytype_name}}</td>
                <td><img src="{{i.property_photo.url}}" width="80"> </td>
                <td>{{ i.place_id.district.district_name }}</td>
                <td>{{ i.place_id.place_name }}</td>
                <td>{{ i.category_id.category_name }}</td>
                <td>{{i.property_price}}</td>
                <td>
                    <a href="{% url 'Seller:delpro' i.id %}">Delete</a>
                    <a href="{% url 'Seller:Gallery' i.id %}">Add Gallery</a>
                    
                  
                </td>
            </tr>
            {% endfor %}
        </table>
                </table>
    </form>
</body>

</html>

{% if msg %}
<script>
    alert("{{msg}}");
    window.location = "{% url 'Seller:Addproperty'%}"
</script>
{% endif %}






<!-- jQuery & AJAX -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#sel_district").change(function () {
        var did = $(this).val();
        var ur = "{% url 'Guest:Ajaxplace' %}";
        $.ajax({
            url: ur,
            data: { did: did },
            success: function (data) {
                $("#sel_place").html(data);
            },
        });
    });
    $("#sel_propertytype").change(function () {
        var did = $(this).val();
        var ur = "{% url 'Seller:Ajaxbf' %}";
        $.ajax({
            url: ur,
            data: { did: did },
            success: function (data) {
                $("#result").html(data);
            },
        });
    });
</script>