<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Seller Profile</title>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <table border="1" align="center">
            <h2 class="editprofile-title">Edit Profile</h2>
            <tr>
                <td colspan="2" align="center"> <img src="{{sellerdata.seller_photo.url}}" width="170" alt=""></td>
            </tr>
            <tr>
                <td>Profile Name</td>
                <td>
                    <input type="text" required name="txt_sellername" id="txt_sellername"
                        value="{{sellerdata.seller_name}}">

                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="email" required name="txt_email" id="txt_email" value="{{sellerdata.seller_email}}">
                </td>
            </tr>
            <tr>
                <td>Contact</td>
                <td>
                    <input type="text" required name="txt_contact" id="txt_contact"
                        value="{{sellerdata.seller_contact}}">
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>
                    <input type="text" request name="txt_address" id="txt_address"
                        value="{{sellerdata.seller_address}}">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Update Profile" class="editprofile-btn">
                </td>
            </tr>

        </table>
                        <table border="1" align="center">
            <td><a href="{% url 'Seller:Myprofile'%}" class="profile-action-btn">Back</a></td>
            </table>
    </form>
</body>
</html>



{% if msg %}
<script>
    alert("{{msg}}");
    window.location = "{% url 'Seller:Editprofile'%}"
</script>
{% endif %}