{% for i in properdata %}
<div class="property-card">

                    <div class="property-img">
                        <img src="{{i.property_photo.url}}">
                        <div class="price">
                            ₹{{i.property_price}}
                        </div>
                    </div>

                    <div class="property-details">


                        <div class="location">

                        {{i.place_id.place_name}},
                        {{i.place_id.district.district_name}}

                    </div>


                    <div class="subtitle">

                        {% if i.bhk_id %}
                        {{i.bhk_id.bhk_name}}
                        {% endif %}

                        House for
                        {{i.category_id.category_name}}

                    </div>



                    <div style="margin-top:10px;">

                        <span class="badge">

                            {{i.propertytype_id.propertytype_name}}

                        </span>


                        {% if i.bhk_id %}
                        <span class="badge">

                            {{i.bhk_id.bhk_name}}

                        </span>
                        {% endif %}


                        {% if i.furnish_id %}
                        <span class="badge">

                            {{i.furnish_id.furnish_name}}

                        </span>
                        {% endif %}

                    </div>



                    <div class="buttons">

                        <a href="{% url 'User:Proviewmore' i.id %}" class="btn viewbtn">

                            View Details

                        </a>


                        <a href="{% url 'User:Proviewmore' i.id %}" class="btn contactbtn">

                            Contact

                        </a>

                    </div>






                    

                    


                </div>

            </div>

            {% endfor %}