<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROPERTY VIEW MORE</title>
</head>
 <table border="1">
            <td><a href="{% url 'User:Viewpro' %}" class="profile-action-btn">Home</a></td>
        </table>

<body>
    <h2 class="editprofile-title" align="center">PROPERTY VIEW</h2>
    <table border="1" align="center" id="result">
        <tr>
            <td>SLNO</td>
            <td>NAME</td>
            <td>DESCRIPTION</td>
            <td>PROPERTY TYPE</td>
            <td>PHOTO</td>
            <td>DISTRICT</td>
            <td>PLACE</td>
            <td>BHK</td>

            <td>FURNISH</td>
            
            <td>CATEGORY</td>
            <td>PRICE</td>
            <td>ACTION</td>
        </tr>
        <tr>
            <td>1</td>
            <td>{{properdata.property_name}}</td>
            <td>{{properdata.property_description}}</td>
            <td>{{properdata.propertytype_id.propertytype_name}}</td>
            <td><img src="{{properdata.property_photo.url}}" width="80"> </td>
            <td>{{ properdata.place_id.district.district_name }}</td>
            <td>{{ properdata.place_id.place_name }}</td>
            <td>{{ properdata.bhk_id.bhk_name }}</td>

            <td>
                {% if properdata.furnish_id %}
                {{ properdata.furnish_id.furnish_name }}
                {% else %}
                No Furnish
                {% endif %}
            </td>

            <td>{{ properdata.category_id.category_name }}</td>
            <td>{{properdata.property_price}}</td>
            <td>
                {% if properdata.property_typestatus == 0 %}
                <a href="{% url 'User:PropertyRent' properdata.id %}" class="profile-action-btn">Rent</a>
                {% elif properdata.property_typestatus == 1 %}
                <a href="{% url 'User:Buy' properdata.id %}" class="profile-action-btn">Buy</a>
                {% endif %}
            <td>
                <a href="{% url 'User:ViewGallery' properdata.id %}" class="profile-action-btn">
                    View Gallery
                </a>
            </td>
            </td>

        </tr>
    </table>
</body>

</html>